
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');


@tailwind base;

body{
    background-color:#f1f1f1f1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}



.bg-blue-1100{
    background-color: rgb(180, 237, 255);
}

.bg-blue-1000{
    background-color: rgba(139, 228, 255, 100%);
}

.bg-{
    background-color: #ecbcfd;
}


.text-blue-1000{
    color: rgba(139, 228, 255, 100%);
}

.font-rob{
    font-family: 'Roboto', sans-serif;
}




/* Write your own custom base styles here */




/* Start purging... */
@tailwind components;
/* Stop purging. */



/* Write you own custom component styles here */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
